/* ------------------ */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/* ------------------ */
/* COMMON */

body {
  /* Shape */
  min-width: 360px;
  /* Font */
  font-family: sans-serif;
  font-weight: 300;
}

header {
  /* Shape */
  height: 70px;
  padding: 10px 0;
  /* Color */
  background-color: #313b45;
}

main {
  /* Shape */
  height: calc(100vh - 70px);
  /* Color */
  background-color: #212e3b;
  /* Overflow */
  overflow: scroll;
}

.container {
  /* Shape */
  max-width: 1200px;
  margin: auto;
  /* Padding */
  padding: 0 20px;
}

.flex {
  /* Display */
  display: flex;
  flex-wrap: wrap;
}

/* ------------------ */
/* HEADER */

header .container .flex {
  padding: 0 5px;
}

header .flex {
  /* Display */
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  /* Shape */
  width: 50px;
}

.genre-selector select {
  /* Shape */
  padding: 10px 50px;
  /* Style */
  outline: none;
  border-radius: 10px;
  /* Color */
  background-color: #313b45;
  color: #fff;
  /* Cursor */
  cursor: pointer;
}

/* ------------------ */
/* MAIN */

.cd-list .flex {
  /* Display */
  justify-content: center;
}

.cd-gutter {
  /* Padding */
  padding: 20px 10px 0px 10px;
}

.cd-item {
  /* Shape */
  width: 100%;
  height: 320px;
  /* Padding */
  padding: 20px;
  /* Color */
  background-color: #313b45;
  /* Text */
  text-align: center;
  /* Shadow */
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  /* Transition */
  transition: all 0.2s;
}

.cd-item:hover {
  /* Color */
  background-color: #65d46e;
  /* Scale */
  transform: scale(1.05);
}

.cd-img {
  /* Shape */
  width: 100%;
}

/* ------------------ */
/* FONT */

.cd-title {
  /* Color */
  color: #fff;
  /* Font */
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  /* Padding */
  padding: 15px 0;
}

.cd-item:hover .cd-title {
  /* Color */
  color: #212e3b;
}

.cd-author,
.cd-year {
  /* Color */
  color: #808080;
}

.cd-item:hover .cd-author,
.cd-item:hover .cd-year {
  /* Color */
  color: #313b45;
}

@media screen and (min-width: 360px) and (max-width: 559px) {
  .container {
    /* Padding */
    padding: 0 10px;
  }

  .cd-gutter {
    /* Shape */
    width: calc(100% / 2);
  }

  .cd-item {
    /* Shape */
    height: 350px;
  }
}

@media screen and (min-width: 560px) and (max-width: 767px) {
  .container {
    /* Padding */
    padding: 0 10px;
  }

  .cd-gutter {
    /* Shape */
    width: calc(100% / 3);
  }

  .cd-item {
    /* Shape */
    height: 350px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .container {
    /* Padding */
    padding: 0 10px;
  }

  .cd-gutter {
    /* Shape */
    width: calc(100% / 4);
  }

  .cd-item {
    /* Shape */
    height: 340px;
  }
}

@media screen and (min-width: 991px) {
  .container {
    /* Padding */
    padding: 0 10px;
  }

  .cd-gutter {
    /* Shape */
    width: calc(100% / 5);
  }

  .cd-item {
    /* Shape */
    height: 350px;
  }
}
